@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

$color_1: white;
$color_2: #222;
$color_3: #3498db;
$font-family_1: 'Montserrat',sans-serif;
$font-family_2: 'Poppins',sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
.bg-img {
	background: url(../../assets/images/bg.jpg);
	height: 100vh !important;
	background-size: cover;
	background-position: center;
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.7)!important;
	}
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	padding: 60px 32px;
	width: 400px;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,0.04)!important;
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
	header {
		color: $color_1;
		font-size: 33px;
		font-weight: 600;
		margin: 0 0 35px 0;
		font-family: $font-family_1;
	}
}
.field {
	position: relative;
	height: 45px;
	width: 100%;
	display: flex;
	background: rgba(255,255,255,0.94);
	span {
		color: $color_2;
		width: 40px;
		line-height: 45px;
	}
	input {
		height: 100% ;
		width: 100% ;
		background: transparent;
		border: none;
		outline: none;
		color: $color_2;
		font-size: 16px;
		border-radius: 0px ;
		font-family: $font-family_2;
	}
	input[type="submit"] {
		background: #3498db ;
		border: 1px solid #2691d9;
		color: $color_1;
		font-size: 18px;
		letter-spacing: 1px;
		font-weight: 600;
		cursor: pointer;
		font-family: $font-family_1;
		&:hover {
			background: #2691d9 ;
		}
	}
}
.space {
	margin-top: 16px;
}
.show {
	position: absolute;
	right: 13px;
	font-size: 13px;
	font-weight: 700;
	color: $color_2;
	display: none;
	cursor: pointer;
	font-family: $font-family_1;
}
.pass-key {
	&:valid {
		~ {
			.show {
				display: block;
			}
		}
	}
}
.pass {
	text-align: left;
	margin: 10px 0;
	p {
		color: $color_1;
		text-decoration: none;
		font-family: $font-family_2;
	}
	&:hover {
		p{
			text-decoration: underline ;
		}
	}
}
.login {
	color: $color_1;
	margin: 20px 0;
	font-family: $font-family_2;
}
.links {
	display: flex;
	cursor: pointer;
	color: $color_1;
	margin: 0 0 20px 0;
	i {
		font-size: 17px;
	}
}
.facebook {
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin-left: 10px;
	margin-left: 0;
	background: #4267B2;
	border: 1px solid #3e61a8;
	&:hover {
		background: #3e61a8 ;
	}
}
.instagram {
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin-left: 10px;
	background: #E1306C;
	border: 1px solid #df2060;
	&:hover {
		background: #df2060 ;
	}
}
i {
	span {
		margin-left: 8px;
		font-weight: 500;
		letter-spacing: 1px;
		font-size: 16px;
		font-family: $font-family_2;
	}
}
.signup {
	font-size: 15px;
	color: $color_1;
	font-family: $font-family_2;
	a {
		color: $color_3;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
